body{
background-image: url("../image/travel.png");
color: black;
background-repeat: no-repeat;
font-family: georgia;
background-attachment: fixed;
background-size: cover;
font-family: 'Righteous';


}