body{
    background-image: url("../image/airplane.jpg");
    color: black;
    background-repeat: no-repeat;
    font-family: georgia;
    background-attachment: fixed;
background-size: cover;
    font-family: 'Righteous';
    
    
    }

    .form-horizontal {
        font-family: 
    }

    #navWords{
        font-family: 'Monoton', cursive;
    }
