@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url("https://fonts.googleapis.com/css?family=Ruda");
body{
   
    font-family: 'Monoton', cursive;
  

    background: url("../image/project1.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    
    
    /* background: url("image/project1.JPG"); */

    background-size: cover;  
}

.jumbotron{
   background:transparent;
   color:white;


}
display-3{padding:0;}
.lead{padding-right:100px;}
.clickbtn{
    text-align: center;
   
}

.searchLabel{color: white;}
.formDiv{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand{
    font-size: 30px;
}

#glyphIcon{margin-right: 10px;}

.simpleFont{
    font-family: 'Ruda', sans-serif;
    font-size: 20px;
}

.icon{
    margin: 2px;
}

@media screen and (max-width:1200px){
    #formSearch{ width: 370px;}
    
}

@media screen and (max-width:650px){
    #formSearch {float: left;}
    #clickbtn{
        margin-left: .1% !important;  
    }
    
    body{background-repeat: no-repeat;}
}

@media screen and (max-width:400px){
    #clickbtn  {
        margin-left: .1% !important;
    }
    
}